// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #333333;
$clr12: #2D9CDB;
$clr13: #27AE60;
$clr14: #EB5757;
$clr15: #828282;
$clr16: #100E1D;
$clr17: #4f4f4f;
$clr18: #f2f2f2;
$clr19: #bdbdbd;
$clr20: #E0E0E0; // --- break points ---


// --- font-sizes ---

$h1max: 2.25rem; //36px
$h1min: 1.50rem; //24px

$navmax: 1.5rem; //24px
$navmin: 1.5rem; //24px

$h3max: 1.12rem; //18px
$h3min: 0.75rem; //12px

$h2max: 3.0rem; //48px
$h2min: 1.5rem; //24px

$paragraphMax: 1.12rem; //18px
$paragraphMin: 1.00rem; //16px

$h4max: .875rem; //14px
$h4min: .625rem; //10px

$h5max: 1.125rem; //18px
$h5min: .875rem; //14px

$secondParagraphMax: 1rem; //16px
$secondParagraphMin: 1rem; //16px

$h6max: .875rem; //14px
$h6min: .75rem; //12px

$h3MoreMax: 1.5rem; //24px
$h3MoreMin: 1.125rem; //18px

$meetMax: 1.125rem; //18px
$meetMin: 1.125rem; //18px

$thirdParagraphMax: 1rem; //16px
$thirdParagraphMin: 1rem; //16px

$footerH1Max: 2.25rem; //36px    
$footerH1Min: 2.25rem; //36px    










// header   